/*Start of Global Variables*/
:root {
  --main-color: #19c8fa;
}
/*End of Global Variables*/

/*Start of reusable components*/
.ReusableHead::before {
  content: "";
  position: absolute;
  width: 178px;
  height: 2px;
  top: calc(50% + 48px);
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
  background-color: black;
}
.ReusableHead {
  position: relative;
  font-size: 40px;
  margin-top: 50px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 3px;
}
.ReusableHead::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% + 48px);
  left: calc(50% - 2px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 2px black;
  background-color: white;
}
.ReusablePar {
  color: #777;
  font-size: 18px;
  width: 506px;
  text-align: center;
  margin-left: 320px;
  margin-top: 46px;
  line-height: 2;
}
/*Start of responsive reusable components*/
@media screen and (max-width: 768px) {
  .ReusablePar {
    margin-left: 13px;
    width: 318px;
  }
}
/*End of responsive reusable components*/
/*End of reusable components*/

/*Start of Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "OpenSans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End of Global Rules*/

/*Start of Header*/
header {
  position: absolute;
  margin-top: 15px;
  width: 100%;
  z-index: 3;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  width: calc(100% - 47px);
  height: 2px;
  position: absolute;
  top: 85px;
  left: 34px;
  background-color: white;
}
header .container img {
  width: 186px;
  padding-left: 20px;
  padding-top: 20px;
}
header .container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .container nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
header .container nav ul li {
  padding-left: 30px;
}
header .container nav ul li a {
  position: relative;
  color: white;
}
header .container nav ul li a::after {
  content: "";
  width: calc(100% + 15px);
  height: 4px;
  position: absolute;
  left: -6px;
  top: 57px;
  z-index: 1;
  visibility: hidden;
  background-color: var(--main-color);
}
header .container nav ul li a:hover::after,
header .container nav ul li a:hover {
  visibility: visible;
  color: var(--main-color);
}
header .container nav ul li #home {
  color: var(--main-color);
}
header .container nav ul li #home::after {
  visibility: visible;
}
header .container nav i {
  padding-left: 30px;
  font-size: 25px;
  color: white;
  position: relative;
}
header .container nav i::after {
  content: "";
  width: 2px;
  height: calc(100% + 4px);
  position: absolute;
  top: -4px;
  left: 15px;
  background-color: white;
}
/* Start of the Responsive part of the header */
header .container .bars {
  visibility: hidden;
}
@media screen and (max-width: 768px) {
  header .container .bars {
    font-size: 30px;
    visibility: visible;
  }
  header .container {
    visibility: visible;
  }
  header .container nav ul,
  header .container nav i::after {
    display: none;
  }
  /* header .container .bars:hover + ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    margin-left: -650px;
    top: 100px;
    width:100%;
    li #home::after{
      visibility: hidden;
    }
    li{
     margin-bottom: 15px;
     background-color: red;
     width: calc(100% - 100px);
    }
  } */
  header .container::after {
    content: "";
    width: calc(100% - 38px);
    height: 2px;
    position: absolute;
    top: 65px;
    left: 22px;
    background-color: white;
  }
  header .container img {
    height: 70px;
    margin-left: -15px;
    margin-top: -11px;
  }
}
/* End of the Responsive part of the header */
/*End of Header*/

/*Start of Landing*/
.landing {
  background-image: url(/TemplateTwo/images/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}
.landing .threeCircles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
  height: 35px;
  position: absolute;
  left: calc(50% - 46px);
  bottom: 20px;
}
.landing .threeCircles .circle {
  width: 20px;
  height: 20px;
  border-radius: 150px;
  background-color: var(--main-color);
}
.landing .threeCircles .circleH {
  background-color: transparent;
  border: solid 2px white;
}
.landing .texts {
  position: absolute;
  background-color: rgb(15 116 143/70%);
  top: calc(50% + 30px);
  transform: translateY(-50%);
  width: 50%;
  height: 328px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.landing .texts .content::before {
  content: "";
  width: 10px;
  height: 10px;
  border-width: 7px;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white white;
  transform: rotate(45deg);
  left: 24px;
  top: 145px;
  border-radius: 5px;
}
.landing .texts .content {
  color: white;
  padding-top: 52px;
  padding-left: 99px;
}
.landing .texts .content::after {
  content: "";
  width: 10px;
  height: 10px;
  border-width: 7px;
  position: absolute;
  border-style: solid;
  border-color: white white transparent transparent;
  transform: rotate(45deg);
  left: calc(100% + 635px);
  top: 145px;
  border-radius: 5px;
}
.landing .texts .content h2 {
  font-weight: normal;
  font-size: 31px;
  margin-bottom: 10px;
  line-height: 1.6;
}
.landing .texts .content p {
  width: 533px;
  line-height: 1.9;
}
/* Start of the Responsive part of the landing*/
@media (max-width: 768px) {
  .landing {
    min-height: 100vh;
  }
  .landing .texts .content::after,
  .landing .texts .content::before {
    display: none;
  }
  .landing .texts {
    min-width: 100%;
  }
  .landing .texts .content {
    padding-top: 40px;
    padding-left: 15px;
    width: 360px;
  }
  .landing .texts .content h2 {
    font-size: 26px;
    width: 360px;
  }
  .landing .texts .content p {
    width: 360px;
  }
}
/* End of the Responsive part of the landing*/
/*End of Landing*/

/*Start of Services*/
.Service {
  position: relative;
}
.Service .container .items {
  position: relative;
  display: grid;
  row-gap: 20px;
  column-gap: 96px;
  grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
  margin-left: 135px;
  margin-top: 40px;
}
.Service .container .items .item {
  width: 415px;
}
.Service .container .items .item i {
  position: absolute;
  margin-left: -70px;
}
.Service .container .items .item h2 {
  color: var(--main-color);
  font-weight: 400;
  margin: 0;
}
.Service .container .items .item p {
  color: #777;
  line-height: 2;
}
/* Start of the Responsive part of the Services part1*/
@media screen and (max-width: 768px) {
  .Service .container .items {
    margin-left: 77px;
  }
  .Service .container .items .item {
    width: 290px;
    margin-top: -10px;
  }
}
/* End of the Responsive part of the Services part1*/
.Service .image {
  width: 1349px;
  height: 550px;
  border-radius: 8%;
  margin-top: 60px;
  overflow: hidden;
  position: relative;
  background-image: url(/TemplateTwo/images/design-features.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.Service .image img {
  position: absolute;
  left: 150px;
  top: 160px;
}
.Service .image .Texts {
  position: absolute;
  width: 50%;
  height: 328px;
  background-color: rgb(15 116 143/70%);
  left: 50%;
  top: calc(50% + 30px);
  transform: translateY(-50%);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Service .image .Content {
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}
.Service .image .Content h2 {
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.Service .image .Content ul {
  margin-top: 26px;
}
.Service .image .Content ul li {
  margin-bottom: 25px;
}
.Service .image .Content ul li i {
  font-size: 25px;
}
.Service .image .Content ul li span {
  font-size: 20px;
  font-weight: normal;
  padding-left: 10px;
}
/*End of Services*/

/*Start of Portfolio*/
.Portfolio {
  position: relative;
}
.Portfolio .container .PortfolioBar {
  display: flex;
  width: 250px;
  margin-left: 444px;
  margin-top: 60px;
  flex-direction: row;
  justify-content: space-between;
}
.Portfolio .container .PortfolioBar p:first-child {
  color: white;
  background-color: var(--main-color);
  width: 38px;
  height: 38px;
  padding-top: 10px;
  margin-top: -9px;
  padding-left: 10px;
}
.Portfolio .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
  row-gap: 5px;
  margin-top: 40px;
}
.Portfolio .gallery .PhotosContainer {
  width: 337px;
  height: 225px;
  position: relative;
  overflow: hidden;
}
.Portfolio .gallery .PhotosContainer .GImages {
  width: 337px;
  height: 225px;
  transition: 0.5s;
  overflow: hidden;
}
.Portfolio .gallery .GImages:hover {
  transform: rotate(5deg) scale(1.1);
}
.Portfolio .gallery .PhotosContainer .overFlowText {
  position: absolute;
  z-index: 1;
  width: 337px;
  height: 80px;
  bottom: -100px;
  transition: 0.5s;
  background-color: white;
}
.Portfolio .gallery .PhotosContainer .overFlowText p {
  padding-left: 30px;
  padding-top: 20px;
}
.Portfolio .gallery .PhotosContainer .overFlowText span {
  color: var(--main-color);
  padding-left: 30px;
}
.Portfolio .gallery .PhotosContainer:hover .overFlowText {
  bottom: 0.2%;
}
.Portfolio .more {
  width: 85px;
  height: 48px;
  color: white;
  position: absolute;
  left: 50%;
  margin-top: 30px;
  transform: translateX(-50%);
  background-color: var(--main-color);
}
.Portfolio .more a {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.Portfolio .video {
  position: relative;
}
.Portfolio .video video {
  width: 100%;
  height: 900px;
  margin-top: 100px;
}
.Portfolio .video .TextOnTheVideo {
  position: absolute;
  width: 100%;
  height: 287px;
  background-color: rgb(15 116 143 / 70%);
  left: 50%;
  top: calc(50% + 50px);
  transform: translate(-50%, -50%);
}
.Portfolio .video .TextOnTheVideo h2 {
  color: white;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  padding-top: 85px;
}
.Portfolio .video .TextOnTheVideo p {
  color: white;
  position: relative;
  text-align: center;
  font-weight: 100;
  text-transform: capitalize;
  padding-top: 35px;
}
.Portfolio .video .TextOnTheVideo p::after {
  content: "SEE MORE";
  position: absolute;
  width: 113px;
  height: 36px;
  left: 50%;
  padding-top: 15px;
  top: calc(50% + 70px);
  background-color: black;
  transform: translate(-50%, -50%);
}
/*End of Portfolio*/

/*Start of About*/
.About .container {
  position: relative;
}
.About .container .AboutImg {
  position: absolute;
  z-index: -1;
  margin-top: 70px;
  left: calc(50% - 37px);
  transform: translateX(-50%);
}
.About .stats {
  width: 100%;
  height: 470px;
  margin-top: 315px;
  background-image: url(/TemplateTwo/images/stats.png);
  background-repeat: no-repeat;
  position: relative;
}
.About .stats::before {
  content: "";
  width: 100%;
  height: 470px;
  background-color: rgb(0 0 0 / 70%);
  position: absolute;
  z-index: 1;
}
.About .stats .statsText {
  position: absolute;
  left: 50%;
  top: calc(50% + 40px);
  transform: translate(-50%, -50%);
  width: 85%;
  height: 300px;
  background-color: rgb(15 116 143 / 70%);
  z-index: 1;
  border-radius: 25px;
}
.About .stats .statsText .statsContent {
  display: flex;
  flex-direction: row;
  width: calc(100% - 100px);
  justify-content: space-around;
  margin-top: 74px;
  margin-left: 61px;
}
.About .stats .statsText .statsContent .ContentOfStats {
  text-align: center;
  color: white;
}
.About .stats .statsText .statsContent .ContentOfStats i {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-top: 10px;
}
.About .stats .statsText .statsContent .ContentOfStats h1 {
  font-size: 50px;
  margin: 30px 0 20px;
}
.About .stats .statsText .statsContent .ContentOfStats p {
  font-size: 14px;
}
.About .CeoSection .Testimonials .info1 {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  position: relative;
}
.About .CeoSection .Testimonials .info1 h3 {
  font-weight: normal;
  text-transform: uppercase;
}
.About .CeoSection .Testimonials .info1 .info1-p {
  color: #777;
  margin-top: 20px;
  line-height: 2;
  margin-left: 125px;
  width: 441px;
}
.About .CeoSection .Testimonials .info1 .CEO {
  position: relative;
  margin-top: 50px;
  margin-left: 87px;
  text-align: start;
}
.About .CeoSection .Testimonials .info1 .CEO .Ceo-p {
  width: 332px;
  margin-left: 144px;
  line-height: 2;
  padding-bottom: 20px;
  border-bottom: solid #ccc 2px;
}
.About .CeoSection .Testimonials .info1 .CEO .Ceo-p::after {
  content: "John Doe, CEO";
  color: #777;
  margin-left: 152px;
}
.About .CeoSection .Testimonials .info1 .CEO .Ceo-pic {
  width: 100px;
  position: absolute;
  top: 0px;
  left: 15px;
  border-radius: 50%;
}
.About .CeoSection .Testimonials .info1 .threeCirclesA {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
  height: 35px;
  position: absolute;
  left: 50%;
  margin-top: 13px;
}
.About .CeoSection .Testimonials .info1 .threeCirclesA .circleA {
  width: 15px;
  height: 15px;
  border-radius: 150px;
  background-color: var(--main-color);
}
.About .CeoSection .Testimonials .info1 .threeCirclesA .circleHA {
  background-color: transparent;
  border: solid 1px #777;
}
/*!----------------------------------------------------------------*/
.About .CeoSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
/*!----------------------------------------------------------------*/
.About .CeoSection .Skills .info2 {
  width: 50%;
  text-align: center;
  margin-top: 70px;
}
.About .CeoSection .Skills .info2 h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-left: 50%;
  width: 100%;
}
.About .CeoSection .Skills .info2 .info2-p {
  color: #777;
  margin-top: 20px;
  line-height: 2;
  margin-left: 125px;
  width: 441px;
}
.About .CeoSection .Skills .info2 .measures {
  text-align: start;
  margin-left: 76px;
  margin-top: 40px;
}
.About .CeoSection .Skills .info2 .measures .Measure p {
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}
.About .CeoSection .Skills .info2 .measures .Measure .M1 {
  width: 500px;
  height: 30px;
  background-color: #ccc;
  border-radius: 10px;
}
.About .CeoSection .Skills .info2 .measures .Measure .M2 {
  height: 30px;
  margin-top: -30px;
  background-color: var(--main-color);
  border-radius: 10px;
  position: relative;
}
.About .CeoSection .Skills .info2 .measures .Measure .Adobe {
  width: 450px;
}
.About .CeoSection .Skills .info2 .measures .Measure .Adobe::before {
  content: "90%";
  position: absolute;
  top: -34px;
  left: calc(100% - 26px);
  background-color: black;
  color: white;
  width: 35px;
  padding-left: 5px;
  height: 22px;
  border-radius: 5px;
  padding-top: 3px;
}
.About .CeoSection .Skills .info2 .measures .Measure .Adobe::after {
  content: "";
  width: 2px;
  height: 2px;
  border: solid 5px;
  border-color: transparent black black transparent;
  transform: rotate(45deg);
  position: absolute;
  left: calc(100% - 12px);
  top: -16px;
}
.About .CeoSection .Skills .info2 .measures .Measure .HC {
  width: 425px;
}
.About .CeoSection .Skills .info2 .measures .Measure .HC::before {
  content: "85%";
  position: absolute;
  top: -34px;
  left: calc(100% - 26px);
  background-color: black;
  color: white;
  width: 35px;
  padding-left: 5px;
  height: 22px;
  border-radius: 5px;
  padding-top: 3px;
}
.About .CeoSection .Skills .info2 .measures .Measure .HC::after {
  content: "";
  width: 2px;
  height: 2px;
  border: solid 5px;
  border-color: transparent black black transparent;
  transform: rotate(45deg);
  position: absolute;
  left: calc(100% - 12px);
  top: -16px;
}
.About .CeoSection .Skills .info2 .measures .Measure .JavaScript {
  width: 400px;
}
.About .CeoSection .Skills .info2 .measures .Measure .JavaScript::before {
  content: "80%";
  position: absolute;
  top: -34px;
  left: calc(100% - 26px);
  background-color: black;
  color: white;
  width: 35px;
  padding-left: 5px;
  height: 22px;
  border-radius: 5px;
  padding-top: 3px;
}
.About .CeoSection .Skills .info2 .measures .Measure .JavaScript::after {
  content: "";
  width: 2px;
  height: 2px;
  border: solid 5px;
  border-color: transparent black black transparent;
  transform: rotate(45deg);
  position: absolute;
  left: calc(100% - 12px);
  top: -16px;
}
.About .CeoSection .Skills .info2 .measures .Measure .Php {
  width: 450px;
}
.About .CeoSection .Skills .info2 .measures .Measure .Php::before {
  content: "90%";
  position: absolute;
  top: -34px;
  left: calc(100% - 26px);
  background-color: black;
  color: white;
  width: 35px;
  padding-left: 5px;
  height: 22px;
  border-radius: 5px;
  padding-top: 3px;
}
.About .CeoSection .Skills .info2 .measures .Measure .Php::after {
  content: "";
  width: 2px;
  height: 2px;
  border: solid 5px;
  border-color: transparent black black transparent;
  transform: rotate(45deg);
  position: absolute;
  left: calc(100% - 12px);
  top: -16px;
}
.About .Quote {
  width: 100%;
  height: 250px;
  margin-top: 150px;
  position: relative;
  background-image: url(/TemplateTwo/images/quote.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.Quote::before {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1;
}
.About .Quote q {
  color: white;
  width: 1000px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.About .Quote q::before {
  content: "John Doe";
  color: white;
  position: absolute;
  top: calc(50% + 56px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 17px;
}
/*End of About*/

/*Start of Pricing*/
.pricing .container {
  position: relative;
}
.pricing .container .Prices {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 46px;
}
.pricing .container .Prices .subscription {
  width: 250px;
  height: 200px;
  text-align: center;
  border-top: solid 2px var(--main-color);
  border-bottom: solid 2px var(--main-color);
}
.pricing .container .Prices .subscription h3 {
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 45px;
}
.pricing .container .Prices .subscription h1 {
  font-size: 70px;
  font-weight: 500;
  margin-top: 20px;
  position: relative;
}
.pricing .container .Prices .subscription h1::before {
  content: "$";
  font-size: 30px;
  font-weight: normal;
  position: absolute;
  top: -11px;
  left: 60px;
}
.pricing .container .Prices .subscription h1::after {
  content: "/Mo";
  font-size: 20px;
  position: absolute;
  top: 45px;
  left: 175px;
}
.pricing .container .Prices .subscription p {
  padding: 20px;
  margin: 0 37px;
  border-bottom: solid 2px var(--main-color);
}
.pricing .container .Prices .subscription p:nth-child(6) {
  margin: 0;
}
.pricing .container .Prices .subscription a {
  width: 100px;
  height: 60px;
  display: block;
  margin-left: 75px;
  margin-top: 20px;
  padding-top: 20px;
  border: solid 2px var(--main-color);
  border-radius: 10px;
}
.pricing .container .foot {
  text-align: center;
  margin-top: 400px;
}
.pricing .container .foot p {
  font-size: 20px;
  text-transform: uppercase;
}
.pricing .container .foot a {
  width: 150px;
  height: 50px;
  display: inline-block;
  margin-top: 20px;
  padding-top: 18px;
  color: black;
  background-color: white;
  border: solid 1px black;
  border-radius: 10px;
  transition: 0.5s;
}
.pricing .container .foot a:hover {
  color: white;
  border-color: transparent;
  background-color: var(--main-color);
  transform: rotateX(1turn);
}
.pricing .enterEmail {
  width: 100%;
  height: 200px;
  margin-top: 70px;
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.pricing .enterEmail::before {
  content: "";
  width: 100%;
  height: 200px;
  position: absolute;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1;
}
.pricing .enterEmail form {
  position: absolute;
  left: 285px;
  top: calc(50% + 20px);
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.pricing .enterEmail form input {
  width: 300px;
  height: 50px;
  color: white;
  padding-left: 50px;
  border: solid 1px white;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right-color: transparent;
  background-color: transparent;
}
.pricing .enterEmail form input::placeholder {
  color: white;
  padding: 50px;
  padding-left: 0px;
}
.pricing .enterEmail form::before {
  font-family: "Font Awesome 5 Free";
  content: "\f0e0";
  font-weight: 900;
  font-size: 25px;
  color: white;
  position: absolute;
  left: 20px;
  top: 10px;
}
.pricing .enterEmail form a {
  color: white;
  width: 130px;
  height: 50px;
  padding-top: 15px;
  margin-left: -5px;
  display: inline-block;
  border: solid 1px white;
  border-left-color: transparent;
  text-transform: uppercase;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--main-color);
}
.pricing .enterEmail p {
  color: white;
  line-height: 2;
  position: absolute;
  left: 525px;
  top: calc(50% - 16px);
  font-size: 19px;
  z-index: 2;
}
/*End of Pricing*/
