/*Start of Global Variables*/
:root {
  --main-color: #19c8fa;
}
/*End of Global Variables*/
/*Start of Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "OpenSans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*End of Global Rules*/
/*Start of Header*/
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container::after {
  content: "";
  width: calc(100% - 52px);
  height: 2px;
  position: absolute;
  top: 85px;
  left: 40px;
  background-color: black;
}
header .container img {
  height: 85px;
}
header .container nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .container nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
header .container nav ul li {
  padding-left: 30px;
}
header .container nav ul li a {
  padding-bottom: 34px;
  border-bottom: solid 2px var(--main-color);
}
header .container nav i {
  padding-left: 30px;
  font-size: 25px;
  position: relative;
}
header .container nav i::after {
  content: "";
  width: 2px;
  height: calc(100% + 4px);
  position: absolute;
  top: -4px;
  left: 20px;
  background-color: black;
}
/*End of Header*/
