*{
  box-sizing: border-box;
}
.flex{
  display:flex;
  width:600px;
  background-color:#aaa;
  padding:20px;
  margin:20px auto;
  align-items:stretch;
}
.flex div{
  
  background-color: red;
  text-align: center;
  width:25%;
  font-size:30px;
  color:white;
}
.float{
  overflow: hidden;
  width:600px;
  background-color:#aaa;
  padding:20px;
  margin:20px auto;
}
.float div{
  background-color: red;
  text-align: center;
  float:left;
  width:25%;
  font-size:30px;
  color:white;
}
span{
  font-size: 30px;
}