div{
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50% , -50%) skew(20deg, 20deg);
 width:200px;
 height: 300px;
 background-color: red;
 transition: 0.5s;
}
div:hover{
    transform: translate(-50% , -50%) skew(-20deg, -20deg);
}