.MM {
  width: 800px;
  height: 400px;
  margin: 20px auto 20px auto;
  background-color: #aaa;
  transition: all 1s;
}
.MM::before {
  content: "";
  width: 800px;
  height: 10px;
  position: absolute;
  background-image: linear-gradient(
    to right,
    red 20%,
    green 20%,
    green 40%,
    blue 40%,
    blue 60%,
    yellow 60%,
    yellow 80%,
    red 80%
  );
}
