div {
  position: relative;
  width: 150px;
  height: 50px;
  margin-top: 30px;
  border: solid 1px black;
  border-radius: 12px;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
  margin-left: 200px;
}
div::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 110px);
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgb(97, 245, 188);
  transition: 0.5s;
}
div::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% + 110px);
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgb(97, 245, 188);
  transition: 0.5s;
}
div:hover::before {
  width: 86px;
  height: 70px;
  left: calc(50% - 43px);
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: -1;
}

div:hover::after {
  width: 86px;
  height: 70px;
  left: calc(50% + 43px);
  border-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: -1;
}
