/*Start of Global Variables*/
:root {
  --main-color: #2196f3;
}
/*end of Global Variables*/

/*Start of reusable components*/
.HeadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top: 50px;
  margin-left: 20px;
}
.HeadingContainer .Heading {
  position: relative;
  width: 160px;
  height: 50px;
  border: solid 2px black;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 7px 0;
  text-align: center;
  transition: 1s;
  text-transform: uppercase;
  z-index: 1;
}
.HeadingContainer .Heading:hover {
  color: white;
  letter-spacing: 1px;
  border-color: transparent;
  transition-delay: 0.4s;
}
.HeadingContainer .Heading::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 100px);
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #2196f3;
  transition: 1s;
}
.HeadingContainer .Heading::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% + 100px);
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #2196f3;
  transition: 1s;
}
.HeadingContainer .Heading:hover::before,
.HeadingContainer .Heading:hover::after {
  width: 85px;
  height: 50px;
  border-radius: 0;
  z-index: -1;
}
.HeadingContainer .Heading:hover::before {
  left: calc(50% - 38px);
}
.HeadingContainer .Heading:hover::after {
  left: calc(50% + 38px);
}
/*End of reusable components*/

/* Start of Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of Global Rules*/

/* Start of Header*/
header {
  background-color: white;
}
header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .container h1 {
  color: var(--main-color);
}
header .container .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 35%;
}
header .container .nav #list .menu {
  width: calc(100% - 150px);
  height: 275px;
  position: absolute;
  left: calc(50% + 27px);
  top: calc(50% - 10px);
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: white;
  border-bottom: solid 5px var(--main-color);
  transition: 0.5s;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
header .container .nav #list:hover .menu {
  top: calc(50% - 84px);
  z-index: 1;
}
header .container .nav #list .menu .image img {
  height: 250px;
}
header .container .nav #list .menu ul li {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: solid 2px #ececec;
}
header .container .nav #list .menu ul li i {
  color: var(--main-color);
}
header .container .nav #list .menu ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
header .container .nav li .MainLinks {
  text-decoration: none;
  position: relative;
  color: black;
  display: block;
  padding-top: 30px;
  height: 100%;
  width: 114px;
  text-align: center;
  overflow: hidden;
}
header .container .nav li .MainLinks::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: 0.5s;
}
header .container .nav li:hover .MainLinks::before {
  left: 0;
}
header .container .nav li:hover .MainLinks {
  color: var(--main-color);
  background-color: #fafafa;
}
/* End of Header*/

/* Start of landing Section */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 85vh;
  background-color: #ececec;
  transform: skewY(-7deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing .container .landingTexts {
  margin-top: 140px;
}
.landing .container .landingTexts h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.landing .container .landingTexts h3 {
  color: #ababab;
  font-size: 25px;
  line-height: 1.5;
}
.landing .container img {
  width: 600px;
  position: relative;
  animation-name: UpAndDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes UpAndDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
span::before {
  content: "";
  border: solid 5px;
  border-radius: 5px;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: calc(100% + 110px);
  transform: rotate(45deg);
  animation: ArrowsUpAndDown1 1.5s infinite linear alternate;
}
span::after {
  content: "";
  border: solid 5px;
  border-radius: 5px;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: calc(100% + 100px);
  transform: rotate(45deg);
  animation: ArrowsUpAndDown2 1.5s infinite linear alternate;
}
@keyframes ArrowsUpAndDown1 {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    top: calc(100% + 110px);
  }
  40%,
  60% {
    top: calc(100% + 95px);
  }
}
@keyframes ArrowsUpAndDown2 {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    top: calc(100% + 100px);
  }
  40%,
  60% {
    top: calc(100% + 85px);
  }
}
/* End of landing Section */

/* Start of Article Section */
.Article {
  margin-top: 230px;
}
.Article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
  margin-top: 100px;
  row-gap: 50px;
  column-gap: 40px;
}
.Article .container .card {
  width: 275px;
  height: 376px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: 0.2s;
}
.Article .container .card img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.Article .container .card h2 {
  padding: 10px 10px 0;
}
.Article .container .card p {
  padding: 10px 10px 0;
  line-height: 1.8;
  color: #ababab;
}
.Article .container .card h4 {
  padding: 10px 10px 20px;
  margin-top: 15px;
  color: var(--main-color);
  border-top: solid 1px #e4e4e4;
  position: relative;
}
.Article .container .card h4 i {
  font-size: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.Article .container .card:hover h4 i {
  animation-name: gogo;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Article .container .card:hover {
  margin-top: -10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
@keyframes gogo {
  to {
    right: 4px;
  }
}
/* End of Article Section */

/* Start of Gallery Section */
.Gallery {
  margin-top: 120px;
  background-color: #eee;
}
.Gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-top: 40px;
  margin-left: 120px;
}
.Gallery .container .Images {
  width: 350px;
  height: 350px;
  padding: 20px 20px;
  background-color: white;
  margin-top: 50px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
.Gallery .container .Images .box {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.Gallery .container .Images .box::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  background-color: red;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 20%);
  opacity: 0;
  z-index: 2;
}
.Gallery .container .Images .box:hover::before {
  animation: flashing 0.7s;
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.Gallery .container .Images .box img {
  height: 100%;
  width: 100%;
  transition: 0.7s;
}
.Gallery .container .Images .box:hover img {
  transform: scale(1.1) rotate(5deg);
}
/* End of Gallery Section */

/* Start of Features Section */
.Features {
  height: 150vh;
  text-align: center;
}
.Features .container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin-left: 120px;
}
.Features .container .tallCard {
  width: 350px;
  height: 750px;
  border: solid 1px #ccc;
  border-radius: 12px;
}
.Features .container .tallCard .FeatureImage {
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.Features .container .tallCard .FeatureImage img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.Features .container .tallCard .FeatureImage::before {
  content: "";
  width: 350px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.Features .container .card1 .FeatureImage::before {
  background-color: rgba(244, 64, 54, 40%);
}
.Features .container .card2 .FeatureImage::before {
  background-color: rgba(0, 150, 136, 40%);
}
.Features .container .card3 .FeatureImage::before {
  background-color: rgba(3, 169, 244, 40%);
}
.Features .container .tallCard .FeatureImage::after {
  content: "";
  width: 350px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: calc(50% + 240px);
  transform: translate(-50%, -50%) skew(0deg, 26deg);
  background-color: white;
  transition: 0.7s;
}
.Features .container .tallCard:hover .FeatureImage::after {
  transform: translate(-50%, -50%) skew(0deg, -26deg);
}
.Features .container .tallCard h1 {
  position: relative;
  font-size: 45px;
}
.Features .container .tallCard h1::after {
  content: "";
  width: 100px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: calc(100% + 10px);
  transform: translate(-50%, -50%);
}
.Features .container .card1 h1::after {
  background-color: rgb(244, 64, 54);
}
.Features .container .card2 h1::after {
  background-color: rgb(0, 150, 136);
}
.Features .container .card3 h1::after {
  background-color: rgb(3, 169, 244);
}
.Features .container .tallCard p {
  font-size: 20px;
  padding: 0 15px;
  line-height: 2;
  color: #aaa;
  margin-bottom: 70px;
  margin-top: 60px;
}
.Features .container .tallCard a {
  text-decoration: none;
  font-size: 20px;
  padding: 0 30px;
  border-radius: 5px;
  font-weight: 800;
  position: relative;
  transition: 0.7s;
}
.Features .container .card1 a {
  border: solid 5px rgb(244, 64, 54);
  color: rgb(244, 64, 54);
}
.Features .container .card2 a {
  border: solid 5px rgb(0, 150, 136);
  color: rgb(0, 150, 136);
}
.Features .container .card3 a {
  border: solid 5px rgb(3, 169, 244);
  color: rgb(3, 169, 244);
}
.Features .container .tallCard a::after {
  content: "";
  width: 0;
  height: calc(100% + 1px);
  position: absolute;
  left: calc(50% - 53px);
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: 0.7s;
}
.Features .container .card1 a::after {
  background-color: rgb(244, 64, 54);
}
.Features .container .card2 a::after {
  background-color: rgb(0, 150, 136);
}
.Features .container .card3 a::after {
  background-color: rgb(3, 169, 244);
}
.Features .container .tallCard:hover a,
.Features .container .tallCard:hover a::after {
  width: calc(100% + 1px);
  color: white;
}
/* End of Features Section */

/* Start of Testimonials Section */
.Testimonials {
  background-color: #eee;
}
.Testimonials .HeadingContainer .Heading {
  width: 244px;
}
.Testimonials .HeadingContainer .Heading::before {
  left: calc(50% - 140px);
}
.Testimonials .HeadingContainer .Heading::after {
  left: calc(50% + 140px);
}
.Testimonials .HeadingContainer .Heading:hover::before,
.Testimonials .HeadingContainer .Heading:hover::after {
  width: 127px;
  height: 50px;
  border-radius: 0;
  z-index: -1;
}
.Testimonials .HeadingContainer .Heading:hover::before {
  left: calc(50% - 58px);
}
.Testimonials .HeadingContainer .Heading:hover::after {
  left: calc(50% + 58px);
}
.Testimonials .container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 40px;
  padding-bottom: 25px;
}
.Testimonials .container .cards {
  width: 350px;
  height: 210px;
  padding: 20px 0 0 20px;
  border-radius: 10px;
  background-color: white;
  position: relative;
}
.Testimonials .container .cards .image {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #eee;
  left: calc(100% - 93px);
  top: -50px;
  border-radius: 50%;
}
.Testimonials .container .cards img {
  width: 80px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
}
.Testimonials .container .cards:hover img {
  animation-name: FlipPictures;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes FlipPictures {
  to {
    transform: rotateY(1turn);
  }
}
.Testimonials .container .cards p {
  margin: 10px 0;
  line-height: 1.4;
  padding: 0 5px 0 0;
  color: #bbb;
}
.Testimonials .container .cards .stars {
  margin: 10px 0;
}
.Testimonials .container .cards .stars i {
  transition: 0.5s;
}
.Testimonials .container .cards:hover .stars .fa-solid {
  color: gold;
}
/* End of Testimonials Section */

/* Start of Team Members Section */
.TeamMembers {

}
.TeamMembers .HeadingContainer .Heading {
  width: 260px;
}
.TeamMembers .HeadingContainer .Heading::before {
  left: calc(50% - 145px);
}
.TeamMembers .HeadingContainer .Heading::after {
  left: calc(50% + 145px);
}
.TeamMembers .HeadingContainer .Heading:hover::before,
.TeamMembers .HeadingContainer .Heading:hover::after {
  width: 145px;
  height: 50px;
  border-radius: 0;
  z-index: -1;
}
.TeamMembers .HeadingContainer .Heading:hover::before {
  left: calc(50% - 58px);
}
.TeamMembers .HeadingContainer .Heading:hover::after {
  left: calc(50% + 58px);
}
.TeamMembers .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  margin: 50px 0 0 120px;
  gap: 50px 76px;
}
.TeamMembers .container .longCard {
  width: 300px;
  height: 450px;
  background-color: #eee;
  border-radius: 10px;
  position: relative;
}
.TeamMembers .container .longCard::after {
  content: "";
  position: absolute;
  width: 0;
  height: 450px;
  background-color: rgb(128 128 128 / 50%);
  top: 0;
  right: 0;
  border-radius: 10px;
  transition: 0.5s;
  z-index: 1;
}
.TeamMembers .container .longCard:hover::after {
  width: 300px;
}
.TeamMembers .container .longCard img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  position: absolute;
  top: calc(50% - 10px);
  transform: translateY(-50%);
  left: -70px;
  z-index: 2;
  transition: 0.5s;
}
.TeamMembers .container .longCard:hover img {
  filter: grayscale(0.8);
}
.TeamMembers .container .longCard .linkIcons {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  row-gap: 38px;
  left: calc(100% - 43px);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.TeamMembers .container .longCard .linkIcons a {
  color: gray;
}
.TeamMembers .container .longCard .linkIcons a:hover {
  color: blue;
}
.TeamMembers .container .longCard .linkIcons a:nth-child(4):hover {
  color: red;
}
.TeamMembers .container .longCard h2 {
  padding: 380px 0 0 30px;
  color: var(--main-color);
  position: absolute;
  z-index: 2;
  transition: 0.5s;
}
.TeamMembers .container .longCard:hover h2 {
  color: rgb(65, 65, 65);
}
.TeamMembers .container .longCard p {
  padding: 410px 0 0 30px;
  position: absolute;
  z-index: 2;
}
/* End of Team Members Section */
