/*Start of Global Variables*/
:root {
  --main-color: #2196f3;
}
/*end of Global Variables*/

/*Start of reusable components*/
.HeadingContainer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
}
.HeadingContainer .Heading::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 100px);
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #2196f3;
  transition: 1s;
}
.HeadingContainer .Heading:hover::before {
  width: 85px;
  height: 50px;
  left: calc(50% - 35px);
  border-radius: 0;
  z-index: -1;
}
.HeadingContainer .Heading {
  position: relative;
  width: 160px;
  height: 50px;
  border: solid 2px black;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 7px 0;
  text-align: center;
  transition: 1s;
  text-transform: uppercase;
}
.HeadingContainer .Heading:hover {
  color: white;
  letter-spacing: 1px;
  border-color: transparent;
  transition-delay: 0.4s;
}
.HeadingContainer .Heading::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% + 100px);
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #2196f3;
  transition: 1s;
}
.HeadingContainer .Heading:hover::after {
  width: 85px;
  height: 50px;
  left: calc(50% + 35px);
  border-radius: 0;
  z-index: -1;
}
/*End of reusable components*/

/* Start of Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 620px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of Global Rules*/

/* Start of Header*/
header {
  background-color: white;
}
header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .container h1 {
  color: var(--main-color);
}
header .container .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  width: 35%;
}
header .container .nav #list .menu {
  width: calc(100% - 150px);
  height: 275px;
  position: absolute;
  left: calc(50% + 27px);
  top: calc(50% - 10px);
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: white;
  border-bottom: solid 5px var(--main-color);
  transition: 0.5s;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
header .container .nav #list:hover .menu {
  top: calc(50% - 84px);
  z-index: 1;
}
header .container .nav #list .menu .image img {
  height: 250px;
}
header .container .nav #list .menu ul li {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: solid 2px #ececec;
}
header .container .nav #list .menu ul li i {
  color: var(--main-color);
}
header .container .nav #list .menu ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
header .container .nav li .MainLinks {
  text-decoration: none;
  position: relative;
  color: black;
  display: block;
  padding-top: 30px;
  height: 100%;
  width: 114px;
  text-align: center;
  overflow: hidden;
}
header .container .nav li .MainLinks::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: 0.5s;
}
header .container .nav li:hover .MainLinks::before {
  left: 0;
}
header .container .nav li:hover .MainLinks {
  color: var(--main-color);
  background-color: #fafafa;
}
/* End of Header*/

/* Start of landing Section */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 85vh;
  background-color: #ececec;
  transform: skewY(-7deg);
  transform-origin: top left;
}
.landing .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing .container .landingTexts {
  margin-top: 140px;
}
.landing .container .landingTexts h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.landing .container .landingTexts h3 {
  color: #ababab;
  font-size: 25px;
  line-height: 1.5;
}
.landing .container img {
  width: 600px;
  position: relative;
  animation-name: UpAndDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes UpAndDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
span::before {
  content: "";
  border: solid 5px;
  border-radius: 5px;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: calc(100% + 110px);
  transform: rotate(45deg);
  animation: ArrowsUpAndDown1 1.5s infinite linear alternate;
}
span::after {
  content: "";
  border: solid 5px;
  border-radius: 5px;
  border-color: transparent var(--main-color) var(--main-color) transparent;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: calc(100% + 100px);
  transform: rotate(45deg);
  animation: ArrowsUpAndDown2 1.5s infinite linear alternate;
}
@keyframes ArrowsUpAndDown1 {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    top: calc(100% + 110px);
  }
  40%,
  60% {
    top: calc(100% + 95px);
  }
}
@keyframes ArrowsUpAndDown2 {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    top: calc(100% + 100px);
  }
  40%,
  60% {
    top: calc(100% + 85px);
  }
}
/* End of landing Section */

/* Start of Article Section */
.Article {
  margin-top: 230px;
}
.Article .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
  margin-top: 100px;
  row-gap: 50px;
  column-gap: 40px;
}
.Article .container .card {
  width: 275px;
  height: 376px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: 0.2s;
}
.Article .container .card img {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.Article .container .card h2 {
  padding: 10px 10px 0;
}
.Article .container .card p {
  padding: 10px 10px 0;
  line-height: 1.8;
  color: #ababab;
}
.Article .container .card h4 {
  padding: 10px 10px 20px;
  margin-top: 15px;
  color: var(--main-color);
  border-top: solid 1px #e4e4e4;
  position: relative;
}
.Article .container .card h4 i {
  font-size: 15px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.Article .container .card:hover h4 i {
  animation-name: gogo;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.Article .container .card:hover {
  margin-top: -10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 30%);
}
@keyframes gogo {
  to {
    right: 4px;
  }
}
/* End of Article Section */
